[Unit]
Description=Dynamic Resource Management server daemon
After=xenstored.service

[Service]
Type=forking
ExecStart=/usr/sbin/dom-serverd start
ExecStop=/usr/sbin/dom-serverd stop
PIDFile=/var/run/dom-serverd.pid

[Install]
WantedBy=multi-user.target
